pipeline/pl_origin_landing_trusted.json
{
	"name": "pl_origin_landing_trusted",
	"properties": {
		"activities": [
			{
				"name": "origin_landing",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/testing_etl/1. origin_to_landing"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_origin_landing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "landing_trusted_incremental",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "alerta_ejecucion_correcta_origin_landing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/testing_etl/3. landing_to_trusted_incremental"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_origin_landing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "alerta_ejecucion_correcta_origin_landing",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "origin_landing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-31.brazilsouth.logic.azure.com:443/workflows/f20e6d50fee84116be0d97e75436449d/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=3UPTPGZ4TfwXsxx8NzY-nVrX-ziJw-ct5Ob-O4OkYRM",
					"body": {
						"value": "{\n\"title\" : \"PIPELINE EJECUTADO\",\n\"message\"  : \"PEPELINE EJECUTADO CON EXITO\",\n\"color\"  : \"GREEN\",\n\"dataFactoryName\"  : \"@{pipeline().DataFactory}\",\n\"pipelineName\"  : \"@{pipeline().Pipeline}\",\n\"pipelineRunId\"  : \"@{pipeline().RunId}\",\n\"time\"  : \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "alerta_ejecucion_fallida_origin_landing",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "origin_landing",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-29.brazilsouth.logic.azure.com:443/workflows/c84db91e0c7c4edcafbc987654e1435d/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=7MwujorS0RpbRi96AbvX_8FvaAfdgmC11Q5SPTSoRc8",
					"body": {
						"value": "{\n\"title\" : \"PIPELINE EJECUTADO CON ERROR\",\n\"message\"  : \"@{activity('origin_landing').error.message}\",\n\"color\"  : \"RED\",\n\"dataFactoryName\"  : \"@{pipeline().DataFactory}\",\n\"pipelineName\"  : \"@{pipeline().Pipeline}\",\n\"pipelineRunId\"  : \"@{pipeline().RunId}\",\n\"time\"  : \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "alerta_ejecucion_correcta_landing_trusted",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "landing_trusted_incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-31.brazilsouth.logic.azure.com:443/workflows/f20e6d50fee84116be0d97e75436449d/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=3UPTPGZ4TfwXsxx8NzY-nVrX-ziJw-ct5Ob-O4OkYRM",
					"body": {
						"value": "{\n\"title\" : \"PIPELINE EJECUTADO\",\n\"message\"  : \"PEPELINE EJECUTADO CON EXITO\",\n\"color\"  : \"GREEN\",\n\"dataFactoryName\"  : \"@{pipeline().DataFactory}\",\n\"pipelineName\"  : \"@{pipeline().Pipeline}\",\n\"pipelineRunId\"  : \"@{pipeline().RunId}\",\n\"time\"  : \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "alerta_ejecucion_fallida_landing_trusted",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "landing_trusted_incremental",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-29.brazilsouth.logic.azure.com:443/workflows/c84db91e0c7c4edcafbc987654e1435d/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=7MwujorS0RpbRi96AbvX_8FvaAfdgmC11Q5SPTSoRc8",
					"body": {
						"value": "{\n\"title\" : \"PIPELINE EJECUTADO CON ERROR\",\n\"message\"  : \"@{activity('landing_trusted_incremental').error.message}\",\n\"color\"  : \"RED\",\n\"dataFactoryName\"  : \"@{pipeline().DataFactory}\",\n\"pipelineName\"  : \"@{pipeline().Pipeline}\",\n\"pipelineRunId\"  : \"@{pipeline().RunId}\",\n\"time\"  : \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "proceso_completo_challenge"
		},
		"annotations": []
	}
}